/* seccion sobre mi */
.contenedor-sobre-mi{
    background-color: var(--colorVerde);
}
.contenedor-sobre-mi main .sobre-mi{
    width: 90%;
    margin: auto;
}
.contenedor-sobre-mi main .sobre-mi figure{
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}
.contenedor-sobre-mi main .sobre-mi h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorBlanco);
}
.contenedor-sobre-mi main .sobre-mi .estrella{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.contenedor-sobre-mi main .sobre-mi .estrella hr {
    width: 100%;
    border-top: 5px solid #fff;
    margin: 12px 0;
}
.contenedor-sobre-mi main .sobre-mi .estrella h4{
    color: var(--colorBlanco);
}
.contenedor-sobre-mi main .sobre-mi p{
    color: var(--colorBlanco);
    text-align: center;
    padding-bottom: 4rem;
}
/* seccion portfolio */
.portfolio{
    width: 90%;
    margin: auto;
}
.portfolio h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5rem;
}
.portfolio .estrella{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.portfolio .estrella hr {
    width: 100%;
    border-top: 5px solid #000;
    margin: 12px 0;
}
.portfolio .imagenes-portfolio{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* seccion about */
.contenedor-about{
    background-color: var(--colorVerde);
}
.contenedor-about .about{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contenedor-about .about h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5rem;
    color: var(--colorBlanco);
}
.contenedor-about .about .estrella{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.contenedor-about .about .estrella hr {
    width: 100%;
    border-top: 5px solid #fff;
    margin: 12px 0;
}
.contenedor-about .about .estrella h4 {
    color: var(--colorBlanco);
}
.contenedor-about .about article p{
    color: var(--colorBlanco);
}
.contenedor-about .about button{
    padding: 2rem 0rem 5rem;
    background-color: var(--colorVerde);
    border: none;
}
.contenedor-about .about button a{
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 1rem;
}
/* seccion contacto */
.contacto{
    width: 90%;
    margin: auto;
}
.contacto h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5rem;
}
.contacto .estrella{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.contacto .estrella hr {
    width: 100%;
    border-top: 5px solid #000;
    margin: 12px 0;
}